<!DOCTYPE html>
<html>
  <head>
    <title>ContactManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= display_toast(notice, :notice) %>
    <%= display_toast(alert, :alert) %>
      <h1 class="text-center border-bottom-0 bg-dark text-light"> Contact Manager App </h1>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
